@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
html{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: white;
}
h1{
    margin: 50px;
    font-size: 50px;
    font-weight: 800;
}
.container{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
p{
    font-size: larger;
    font-weight: 600;
}
#submit{
    font-size: medium;
    font-weight: bold;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#newGame{
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    width: 200px;
}
#guess{
    font-size: 35px;
    font-weight: 700;
    margin-top: 120px;
}
#guessField{
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-style: none;
    border-radius: 10px;
    margin-top: 25px;
    border: 5px solid #6c6d6d;
    text-align: center;
}
.form{
    margin: 50px;
}
.guesses {
    background-color: #37ff00;
}

.toggle-container {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: x-large;
}

/* Style for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.6s;
    border-radius: 34px;
}
.slider.round {
    border-radius: 34px;
}
.slider:before {
    content: "☀️"; /* Light mode icon */
    display: none;
}

.slider:after {
    content: "🌙"; /* Dark mode icon */
    display: none;
}
input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
}
input[type="checkbox"]:checked + .slider:after {
    display: block;
}
input[type="checkbox"]:checked + .slider:before {
    display: none;
}
input[type="checkbox"] + .slider:before {
    display: block;
}

/* Responsive Styles */

@media (max-width: 910px) and (min-width: 500px) {
    h1{
        margin: 50px;
        font-size: 40px;
        font-weight: 800;
    }
    p{
        font-size: medium;
        font-weight: 600;
    }
    #guess{
        font-size: 30px;
        font-weight: 700;
        margin-top: 120px;
    }
    #guessField{
        width: 250px;
        height: 50px;
        font-size: 30px;
        border-style: none;
        border-radius: 10px;
        margin-top: 25px;
        border: 5px solid #6c6d6d;
        text-align: center;
    }
}

@media (max-width: 500px) and (min-width: 375px) {
    h1{
        margin: 50px;
        font-size: 30px;
        font-weight: 800;
    }
    p{
        font-size: small;
        font-weight: 600;
    }
    
    #guess{
        font-size: 25px;
        font-weight: 700;
        margin-top: 120px;
    }
    #guessField{
        width: 200px;
        height: 50px;
        font-size: 30px;
        border-style: none;
        border-radius: 10px;
        margin-top: 25px;
        border: 5px solid #6c6d6d;
        text-align: center;
    }
    .toggle-container {
        font-size: medium;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 25px;
    }
}

@media (max-width: 375px) {
    h1{
        margin: 40px;
        font-size: 20px;
        font-weight: 800;
    }
    p{
        font-size: x-small;
        font-weight: 600;
    }
    #submit{
        font-size: small;
        height: 40px;
        width: 80px;
    }
    #newGame{
        font-size: small;
        height: 50px;
        width: 150px;
    }
    #guess{
        font-size: 15px;
        font-weight: 700;
        margin-top: 120px;
    }
    #guessField{
        width: 100px;
        height: 25px;
        font-size: 25px;
        border-style: none;
        border-radius: 10px;
        margin-top: 25px;
        border: 5px solid #6c6d6d;
        text-align: center;
    }
}
